<% if flash[:notice] %>
  <div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Success!</h4>
  <%= flash[:notice] %>
  
<% end %>
<% if flash[:warning] %>
  <div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Warning!</h4>
  <%= flash[:warning] %>
</div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Error!</h4>
  <%= flash[:error] %>
<% end %>